* {
    font-style: italic;
}

div {
    color: blue;
}
p {
    color: red;
}

.Big {
    font-size: 25px;
}

.Bold {
    font-weight: bold;
}

#One {
    background-color: orange;
}

#Two {
    background-color: orangered;
}

input[disabled] {
     font-weight: bold;
}